<!DOCTYPE html>
<html>


<!-- Mirrored from socialyte.codeplus.it/wall.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Sep 2018 11:53:48 GMT -->
<head>
    <title>Wall Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <script src="/assets/lib/jquery-3.2.0.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-switch/css/bootstrap-switch.min.css">
    <script src="/assets/lib/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="/assets/js/twemoji.min.js"></script>
    <script src="/assets/js/lazy-load.min.js"></script>
    <script src="/assets/js/socialyte.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>

<body id="wall">
<header class="text-right">
<form class="text-left search" method="GET">
    <input name="q" type="text" placeholder="Search..">
</form>
<div class="menu-icon">
    <div class="dropdown">
        <a href="/logout" title="Settings">
          <span class="hidden-xs hidden-sm">Logout</span> <i class="fa fa-sign-out " aria-hidden="true"></i>
          </a>
        
    </div>
</div>

<div class="second-icon menu-icon">
    <span><a href="/user/profile" title="Profile"><span class="hidden-xs hidden-sm">Profile</span> <i class="fa fa-user" aria-hidden="true"></i></a>
    </span>
</div>
<div class="second-icon menu-icon">
    <span><a href="/user/follows" title="Wall"><span class="hidden-xs hidden-sm">Follows</span> <i class="fa fa-database" aria-hidden="true"></i></a>
    </span>
</div>
<div class="second-icon menu-icon">
    <span><a href="/user" title="Wall"><span class="hidden-xs hidden-sm">All</span> <i class="fa fa-database" aria-hidden="true"></i></a>
    </span>
</div>

</header>
