<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    
	<title>Register</title>

	<link rel="stylesheet" href="assets/style.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>

	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="login">

		<h1><strong>Welcome.</strong> Please register.</h1>

		<form action="/register" method="post">

			<fieldset>

				<p><input name="username" type="text" required value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Username" -->

				<p><input name="password" type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Password" -->


				<p><input type="submit" value="Login"></p>

			</fieldset>

		</form>

		

	</div> <!-- end login -->

</body>
</html>