<% include ../../layouts/header.ejs %>
<header class="flex items-center">
    <div class="flex items-center justify-center">
    <div class="feather">
      <div class="circle border flex items-center justify-center">
        <i class="fa fa-leaf" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="circle border flex items-center justify-center">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </div>
      <div class="circle border flex items-center justify-center">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="circle border flex items-center justify-center">
        <i class="fa fa-hashtag" aria-hidden="true"></i>
      </div>
    </div>
    </div>
    <div class="">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
    <div class="flex items-center justify-center">
      <div id="search" class="flex items-center justify-between border">
      <input type="text" id="search-input" class="" placeholder="Search"></input>
      <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i></label>
    </div>
      <!-- <img class="circle border" src="http://freeangrybirdsgame.org/images/bird-what2.png" /> -->
    <div class="circle border flex items-center justify-center">
        <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    </div>
  </header>
  <main class="flex flex-column items-center">
    <div class="categorybar">
      <div class="category category-selected">
        <span class="title center">TWEETS</span>
        <span class="count center">200</span>
      </div>
      <div class="category">
        <span class="title center">PHOTOS/VIDEOS</span>
        <span class="count center">300</span>
      </div>
      <div class="category">
        <span class="title center">FOLLOWING</span>
        <span class="count center">100</span>
      </div>
      <div class="category">
        <span class="title center">FOLLOWERS</span>
        <span class="count center">1M</span>
      </div>
    </div>
    <div class="tweets">
      <div class="tweet flex justify-between">
        <div class="tweet-pic circle border flex items-center justify-center">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div  class="tweet-content">
          <div class="flex justify-between">
            <div>
              <span class="name">
                Kerem Suer
              </span>
              <span class="handle">
                @kerem
              </span>
            </div>
            <div class="when">
              2m
            </div>
          </div>
          <div class="actual-content">
            <p>
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="flex justify-between">
            <div class="left-icons flex justify-around">
              <i class="fa fa-share" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-refresh" aria-hidden="true"> 20</i>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tweet flex justify-between">
        <div class="tweet-pic circle border flex items-center justify-center">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div  class="tweet-content">
          <div class="flex justify-between">
            <div>
              <span class="name">
                Axel Herrmann
              </span>
              <span class="handle">
                @axel_herrmann
              </span>
            </div>
            <div class="when">
              1h
            </div>
          </div>
          <div class="actual-content">
            <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="flex justify-between">
            <div class="left-icons flex justify-around">
              <i class="fa fa-share" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-refresh" aria-hidden="true"></i>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tweet flex justify-between">
        <div class="tweet-pic circle border flex items-center justify-center">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div  class="tweet-content">
          <div class="flex justify-between">
            <div>
              <span class="name">
                Kerem Suer
              </span>
              <span class="handle">
                @kerem
              </span>
            </div>
            <div class="when">
              2m
            </div>
          </div>
          <div class="actual-content">
            <iframe
                    src="https://www.youtube.com/embed/09R8_2nJtjg?autoplay=0">
            </iframe>
          </div>
          <div class="flex justify-between">
            <div class="left-icons flex justify-around">
              <i class="fa fa-share" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-refresh" aria-hidden="true"> 20</i>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="tweet flex justify-between">
        <div class="tweet-pic circle border flex items-center justify-center">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div  class="tweet-content">
          <div class="flex justify-between">
            <div>
              <span class="name">
                Kerem Suer
              </span>
              <span class="handle">
                @kerem
              </span>
            </div>
            <div class="when">
              2m
            </div>
          </div>
          <div class="actual-content">
            <p>
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="flex justify-between">
            <div class="left-icons flex justify-around">
              <i class="fa fa-share" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-refresh" aria-hidden="true"> 20</i>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>


<% include ../../layouts/footer.ejs %>