<% include ../layouts/header.ejs %>
<!--
<h4>User Index</h4>
 
<form action="/user/new_post" method="post">
<input type="text" name="post">

<button type="submit">Gönder</button>
</form> 

<h4>Post</h4>
<ul>
<% posts.forEach((post) => { %>
    <li><%= post.post %></li>
<% }) %>
</ul>
<h4>Followers</h4>
<ul>
<% followers.forEach((user) => { %>
    <li><%= user.username %></li>
<% }) %>
</ul>

<h4>Follows</h4>
<ul>
<% follows.forEach((user) => { %>
    <li><%= user.user_id[0].username %></li>
<% }) %>
</ul>

<h4>Random Users</h4>
<ul>
<% randomUsers.forEach((user) => { %>
    <li><%= user.username %> <a href="/user/follow/<%= user._id %>">Follow</a> </li>
<% }) %>
</ul>
-->
<!--Header with Nav -->


<!--Left Sidebar with info Profile -->
<div class="sidebar-nav">
<a href="personal-profile.html" title="Profile">
    <img src="/assets/img/user.jpg" alt="User name" class="img-circle img-user">
</a>
<h2 class="text-center hidden-xs"><a href="personal-profile.html" title="Profile"><a><%= username %></a></h2>
<p class="text-center user-description hidden-xs">
    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
</p>
</div>

<!--Wall with Post -->
<div class="content-posts active" id="posts">
<div id="posts-container" class="container-fluid container-posts">

<div class="row">
<div class="col-lg-12">

<form action="/user/new_post" method="post">

<div class="input-group">
  <input type="text" class="form-control" placeholder="Add a post" name="post">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
  </span>
</div><!-- /input-group -->
</form>
</div><!-- /.col-lg-6 -->

</div>

<% posts.forEach((post) => { %>
<%if(post){%>
    <div class="card-post">
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                <a href="personal-profile.html" title="Profile">
                    <img src="/assets/img/user.jpg" alt="User name" class="img-circle img-user">
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
                <h3><a href="personal-profile.html" title="Profile"><%=post.user[0].username.capitalize() %></a></h3>
                <p><i><%= moment(post.created_at).format( 'hh:mm MM.DD.YYYY') %></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
                <p><%= post.post %></p>
                <div class="reaction">
                    <a href="/user/like_post/<%=post._id%>">&#x2764; <%= post.likes.length %></a> &#x1F603; <%= post.comments.length %>
                </div>
                <div class="comments">
                    <ul>
                    <% post.comments.forEach((comment) => { %>
                        <li><b><%= comment.username %></b> <%= comment.post_comment %></li>
                        <%}) %>
                    </ul>
                    <form action="/user/new_comment/<%= post._id %>" method="post">
                        <input type="text" class="form-control comment" autocomplete="off" placeholder="Add a comment" name="post_comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% }}) %>

    

    <div class="card-post">
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                <a href="personal-profile.html" title="User Profile">
                    <img src="/assets/img/user.jpg" alt="User name" class="img-circle img-user">
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
                <h3><a href="personal-profile.html" title="User Profile">My User</a></h3>
                <p><i>2h</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
                <p>Lorem Ipsum Dolor si amet</p>
                Video here
                <video controls>
                  <source src="/assets/img/post-video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="reaction">
                    &#x2764; 1234 &#x1F603; 54
                </div>
                <div class="comments">
                    <div class="more-comments">View more comments</div>
                    <ul>
                        <li><b>User1</b> Lorem Ipsum Dolor si amet</li>
                        <li><b>User2</b> Lorem Ipsum Dolor si amet &#x1F602;</li>
                    </ul>
                    <form>
                        <input type="text" class="form-control" placeholder="Add a comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Close #posts-container-->
<div id="loading">
    <img src="/assets/img/load.gif" alt="loader">
</div>
</div>

<div id="settingsmodal" class="modal fade text-center">
<div class="modal-dialog">
    <div class="modal-content">
    <h4>Settings</h4>
    </div>
</div>
</div>
<script>
$('.comment').keypress(function(e) {
    if(e.which == 13) {
        $(this).parent('form').submit();
    }
});
</script>
<% include ../layouts/footer.ejs %>



