$page-font-size: 16px;
$body-color: #F3EEE8;
$timeline-color: #FFFBF5;
$header-color: #FFFBF5;
body, html {
  height: 100%;
  width: 100%
}
html{
  font-size: $page-font-size;
}
body {
  background-color: $body-color;
  width:100%;
}
header{
  height: 4em;
  background-color: $header-color;
  margin-bottom: 2em;
}
*{
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
#search {
    height: 40px;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    color: #292f33;
    background-color: transparent;
    border-color: #e1e8ed;
}

#search-input
{
  height: 30px;
  border: none;
  background: transparent;
  font-size: 1.5em;
}

header .circle{
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  border-color: #e1e8ed;
}

.feather{
  border-right: 1px solid #e1e8ed;
}
.feather .circle{
  background-color: #78A7CE;
}
header .fa-leaf{
  color: #fff;
}
header .fa{
  font-size: 20px;
}
header .fa-twitter{
  font-size: 30px;
  color: #78A7CE;
}
.categorybar{
  width: 800px;
  background: $timeline-color;
  float: left;
  padding: 0;
  margin-bottom: 2em;
}
.category{
  padding: 20px 0;
  width: 196px;
  display: inline-block;
}
.category.category-selected
{
  border-bottom: 5px solid #78A7CE;
}
.title, .count{
  display: block;
  color: #222;
}
.title{
  color: #8899a6;
}
.tweets{
  width: 800px;
  background-color: $timeline-color;
}
.tweet{
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #e1e8ed;
}
.tweet-pic{
  width: 50px;
  height: 50px;
  border-color: #e1e8ed;
  margin: 0 10px;
  flex-shrink: 0
}
.tweet-pic .fa-user{
  font-size: 30px;
}
.tweet-content{
  color: #8899a6;
  width: 700px;
}
.name{
  color: #292f33;
}
.when{
  padding-right: 15px;
}
.tweet-content .fa{
  padding-right: 15px;
}
.actual-content{
  padding: 15px 0;
}
.tweet-content p{
  margin: 0;
}
.tweet-content iframe{
  width: 700px;
  height: 350px;
}

header{
  justify-content: space-between;
}

@media (max-width: 850px){
  header{
    flex-wrap: wrap;
    height: 8em;
    #justify-content: center;
  }
  .categorybar{
    width: 100%;
  }
  .category{
    width: 48%;
  }
  
  .tweets{
    width: 100%;
  }
}